#spcl{
    padding-left: 150px;
}
#spcl1{
    padding-left: 20px;
}
#spcl2{
    padding-left: 900px;
}
#spcl3{
    padding-left: 150px;
}
body{
    background-color: beige;
    background: no-repeat;
}